html,
body {
    height: 100%;
    font-family: "Myriad Pro Regular";
}

@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('myriad/MYRIADPRO-REGULAR.woff') format('woff');
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 25px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

@media (min-width: 1200px) {
    .container {
        width: 800px;
    }
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.clear {
    clear: both;
}

.answer-option {
    background-color: #d6d6d6;
    padding: 8px 10px;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
    clear: both;
    font-size: 18px;
    filter:grayscale(100%);
}

.primary-form {
    display: none;
}

.MediaBlock-image {
    background-image: url(/web/images/question/1/image_initial.jpg);
    width: 770px;
    height: 360px;
    background-size: cover;
}

.forward {
    font-size: 25px;
    padding: 10px 55px;
    margin: 20px;
}

.ans-explanation {
    text-align: center;
    font-size: 15px;
    padding: 10px 20px;
}

.next-q {
    text-align: center;
}

.answer-block {
    margin-bottom: 20px;
    padding: 0 20px;
}

.test-begin {
    font-size: 25px;
    padding: 10px 55px;
}

.intro-text {
    font-size: 16px;
    margin-bottom: 20px;
}

.anime-right {
    position: relative;
    -webkit-animation: mymove 3s; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: mymove 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes mymove {
    from {
        top: 0px;
    }
    to {
        background-color: #b7ff8d;
    }
}

@keyframes mymove {
    from {
    }
    to {
        background-color: #b7ff8d;
    }
}

.anime-wrong {
    position: relative;
    -webkit-animation: mymove 3s; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: wrongmove 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes wrongmove {
    from {
        top: 0px;
    }
    to {
        background-color: #ffb894;
    }
}

@keyframes wrongmove {
    from {
    }
    to {
        background-color: #ffb894;
    }
}

.long-div {
    width: 100%;
    float: left;
    display: inline-block;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-content: center;
    align-items: center;
}
.ans-title-wrap{
    width: 735px;
}

.answer-text {
    display: inline-block;
    float: left;
}

.answer-option:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.certificate_bg {
    background-image: url("../images/cert_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.attention {
    font-size: 18px;
    color: #a94442;
}

.intro-form {
    text-align: center;
}

.field-question-name, .field-question-email, .intro-text {
    text-align: left;
}

.title_heading {
    font-family: "Myriad Pro Regular";
    font-size: 24px;
    margin-bottom: 20px;
}

.general-container {
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}

.intro-form .form-control {
    height: 40px;
    font-size: 18px;
}
.question-name {
    padding: 0 20px;
    font-size: 24px;
}
.footer-form{
    background-color: #e1e1e1;
    height: 70px;
    text-align: left;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 21px;
    font-weight: 600;
}
.ans-true{
    background-image: url(../images/ans_options.png);
    padding-left: 20px;
    background-repeat: no-repeat;
    background-size: auto 165%;
    background-position: 300px -35px;
    font-size: 40px;
    color: #41ad49;
}
.ans-wrong{
    background-image: url(../images/ans_options.png);
    font-size: 40px;
    color: #bb1e2d;
    padding-left: 60px;
    background-repeat: no-repeat;
    background-size: auto 165%;
    background-position: 300px 9px;
}
.ans-percentage{
    float: right;
    font-size: 14px;
    background-color: #fff;
    padding: 4px 6px;
    border-radius: 20%;
}
.ans-percentage{
    color: #000;
}
.option-hover:hover{
    background: #5a90da!important;
    color: #fff!important;
    filter: none;
}
.check-hover:hover{
    pointer-events: none;
}

